* {
    box-sizing: border-box;
    margin: 0;
}

.header-container {
    overflow: hidden;
    background-color: #616161;
    width: 100%;
}

.logo, .header-container span{
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.logo {
    margin-left: 32px;
}

.logo img{
    width: 60px;
}

.header-left a:hover, .header-right a:hover, .header-right span:hover{
    background-color: #282828;
    color: #fff;
    cursor: pointer;
}

.header-left {
    position: relative;
    top: 20px;
    float: left;

    margin-left: 32px;
}

.header-right {
    position: relative;
    top: 20px;
    float: right;

    margin-right: 32px;
}

.overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 1;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-close-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    cursor: pointer;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-close-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup div .container-inputs {
    opacity: 0;
}

.popup div .container-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    border: 1px solid #BBBBBB;
}

.popup div .container-inputs input[type=text],  input[type=password]{
    padding-left: 16px;
}

.popup div .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #07090f;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup div .btn-submit:hover {
    background: rgba(50, 51, 53, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active { transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .container-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
}

#submitButton{
    margin-left: -50px;
}

#register{
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

#browser{
    font-size: large;
}

.browserSpan{
    font-size: large !important;
}
ngbd-alert-selfclosing {
    z-index: 1;
    position: absolute;
    right: 8px;
    top: 100px;
}

.logout-menu{
    position: relative;
    top: 10px;
    float: right;
    margin-right: 32px;
    cursor: pointer;
}

.logout-menu a:hover, .logout-menu a:hover, .logout-menu span:hover{
    background-color: #282828;
    color: #fff;
    cursor: pointer;
}

.profile-menu{
    position: relative;
    top: 10px;
    float: right;
    margin-right: 16px;
    cursor: pointer;
}

.profile-menu a:hover, .profile-menu a:hover, .profile-menu span:hover{
    background-color: #282828;
    color: #fff;
    cursor: pointer;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

@media screen and (max-width: 800px){
    #browser{
        font-size: small;
    }
    .browserSpan{
        font-size: small !important;
    }
    .header-right {
        margin-right: 16px;
    }
    .header-left {
        margin-left: 16px;
    }
    .logo {
        margin-left: 16px;
    }
    .popup {
        width: 300px;
    }
    #register{
        font-size: x-small;
    }
    .popup div .container-inputs input {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
    }
    .popup h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }
}