<div class="header-container">
    <a routerLink="/home" class="logo">
        <img src="../../assets/img/rymLive logo.png" alt="rymLiveLogo">
    </a>
    <div class="header-left">
      <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
          <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
              aria-hidden="true"></i></span>
        </div>
        <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
      </div>
    </div>
    <div *ngIf="!logged" class="header-right" (click)="popUp()">
        <span class="browserSpan" id="btn-open-popup">Login</span>
    </div>
    <div *ngIf="logged" class="logout-menu" (click)="logout()">
      <span class="logout-menu button">Logout</span>
    </div>
    <div *ngIf="logged" class="profile-menu" (click)="profile()">
      <span class="profile-menu button">Profile</span>
    </div>
    
<div class="overlay" id="overlay">
  <div class="popup" id="popup" [formGroup]="loginForm">
      <a  id="btn-close-popup" class="btn-close-popup"><img src="../../assets/img/close-24px.svg" alt=""></a>
      <h3 *ngIf="register">Sing In</h3><br>
      
      <div *ngIf="register" role="form" id="login-form" #lForm="ngForm" [formGroup]="registerForm" (ngSubmit)="submitLogin()" novalidate>
        <div class="container-inputs">
          <input ([ngModel])="name" formControlName="name"  type="text" id="name" name="name" value="" placeholder="Name"><br>
          <input ([ngModel])="username" formControlName="username" type="text" id="user" name="user" value="" placeholder="Username"><br>         
          <input ([ngModel])="email" formControlName="email"  type="text" id="email" name="email" value="" placeholder="Email"><br>
          <input ([ngModel])="password" formControlName="password"  type="password" id="password" name="password" placeholder="Password"><br>
        </div>
      </div>

      <h3 *ngIf="!register">Login</h3>

      <div *ngIf="!register" role="form" id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <div class="container-inputs">      
          <input ([ngModel])="email" formControlName="email"  type="text" id="email" name="email" placeholder="Email"><br>
          <input ([ngModel])="password" formControlName="password"  type="password" id="password" name="password" placeholder="Password"><br>
        </div>
      </div>

      <a *ngIf="!register" id="register" (click)="toggleRegister()">Register</a><a *ngIf="register" id="register" (click)="toggleRegister()">Cancel Register</a>
      <button *ngIf="!register" id="submitButton" type="submit" class="btn btn-dark" (click)="submitLogin()" form="login-form">Submit</button>
      <button *ngIf="register" id="submitButton" type="submit"  class="btn btn-dark"(click)="submitLogin()" form="login-form" style="margin-left: -80px;"> Register</button>
  </div>
</div>
<ngbd-alert-selfclosing *ngIf="error"></ngbd-alert-selfclosing>
