app-header{
    position: relative;
    display: inline-flex;
    width: 100%;
}
app-main{
    position: relative;
}
app-music-player{
    color: #FFF;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;

    text-align: center;
}

app-user-profile body{
    background-color: rgb(160, 159, 159);
}