app-header{
    position: relative;
    top: -16px;
}
app-main{
    position: relative;
    top: -32px;
}
app-music-player{
    color: #FFF;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 115px;
    z-index: 1;

    text-align: center;
}
