#naturalContainer{
    width: 100%;
    height: calc(100% - 90px);
}

#container {
    margin: auto;
    width: 60%;
    height: 100%;
}

#profile-header {
    background: linear-gradient(115deg, #EC2E26 -20%, transparent 110%);
    position: relative;
    width: 100%;
    height: 30%;
}

#image-profile {
    float: left;
    width: 20%;
    height: 100%;
}

#user-icon {
    margin-left: 10%;
    margin-top: 8%;
    width: 80%;
    height: 78%;
}

#info-profile {
    float: left;
    width: 80%;
    height: 100%;
}

#settings-icon {
    display: inline-flex;
    float: right;
    padding: 5px;
}

.custom-file {
    margin-left: 5px;
    margin-bottom: 3px !important;
}

#userName {
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 500;
    font-size: x-large;
    font-family: Arial;
}

#completeName {
    padding-top: 3px;
    padding-left: 20px;
    font-weight: 500;
    font-size: medium;
    font-family: Arial;
}

#biography-input {
    display: block;
    width: 70% !important;
    font-size: 0.8rem !important;
    margin-left: 18px;
    margin-top: 20px;
}

#biography {
    padding-top: 15px;
    padding-left: 20px;
    font-weight: 500;
    font-size: small;
    font-family: Arial;
}

#saveChanges {
    right: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 3px;
    margin-right: 5px;
    height: calc(1.5em + .75rem + 2px);
}

#profile-main {
    background-color: #FFFFFF;
    width: 100%;
    height: 70%;
}

#mySongs-header {
    width: 100%;
    height: 8%;
    border-bottom: #A09F9F solid 0.2px;
    background-color: #3e444a;
    color: #FFFFFF;
}

#profile-main-mySongs {
    float: left;
    padding: 10px 10px 10px 10px;
    margin-left: 30px;
    margin-top: 4px;
}

#profile-main-mySongs span{
    font-weight: 600;
    font-size: medium;
    font-family: Arial;
}

#profile-main-myList {
    float: left;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-top: 4px;
}

#profile-main-myList span{
    font-weight: 600;
    font-size: medium;
    font-family: Arial;
}

#mySongs-main {
    width: 100%;
    height: 92%;
}

.table{
    margin: 0 0 114px 0;
    border: solid 1px #495057;
}

#biography-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#transparent{
    height: 110px;
}