<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<section id="naturalContainer">
    <section id="container">
        <!--USUARIO-->
        <div id="profile-header">
            <!--IMAGEN DE PERFIL DE USUARIO-->
            <div id="image-profile">
                <img src="{{imgRuteActually}}{{imageActually}}" id="user-icon">
                <div *ngIf="settingsAppear" class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

            </div>
            <!--INFORMACIÓN DEL USUARIO-->
            <div id="info-profile">
                <div id="settings-icon" (click)="inSettings()">
                    <img src="../../assets/img/settings-24px.svg" onclick="">
                </div>

                <p id="userName">Firesao </p>
                <p id="completeName">Asdrúbal Sánchez Carnicero</p>

                <p id="temporal" style="display: none;">Me encanta decir HOLA en alto</p>
                <div *ngIf="settingsAppear">
                    <input id="biography-input" type="text" value="{{oldValues}}" placeholder="Write your biography"
                        maxlength="110">
                </div>
                <div *ngIf="!settingsAppear">
                    <p id="biography">{{oldValues}}</p>
                </div>

                <button *ngIf="settingsAppear" type="button" class="btn btn-dark btn-sm" id="saveChanges"
                    (click)="saveChanges()">Guardar</button>
            </div>
        </div>

        <!--FUNCIONALIDADES DEL USUARIO-->
        <div id="profile-main">
            <!--BARRA DE NAVEGACIÓN-->
            <div id="mySongs-header">
                <div id="profile-main-mySongs" (click)="loadTable()"><span>Mis Canciones</span></div>
                <div id="profile-main-myList"><span>Mi Lista</span></div>
            </div>
            <!--FUNCIONALIDAD ESPECIFICADA-->
            <div id="mySongs-main">
                <table class="table table-striped table-white" *ngIf="showTableHeader">
                    <thead id="tableHeader">     
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Song name</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Time</th>
                            <th scope="col">Play</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table> 

                <!-- <button type="button" class="btn btn-outline-dark btn-sm" (click)="playMusic()">Play</button> -->
                <!-- <button type="button" class="btn btn-outline-dark btn-sm" (click)="hazmeunaprueba()">Play</button> -->
            </div>
        </div>
    </section>
</section>  